@import "src/variables";

.form {
    display: flex;
    flex-direction: column;
    gap: 10px;

    &__wrap {
        display: flex;
        justify-content: center;
        max-width: 100%;
        gap: 10px;
    }

    &__swap {
        display: flex;
        align-self: center;
        height: $swapHeight;
    }

    &__btn {
        align-self: center;
        padding: 10px;
        max-width: 500px;
        width: 100%;
        border: 1px solid $borderColor !important;
    }
}

@media screen and (max-width: 768px) {
    .form {

        &__wrap {
            gap: 10px;
        }
    }
}

@media screen and (max-width: 425px) {
    .form {

        &__wrap {
            flex-direction: column;
            align-items: center;
        }

        &__swap {
            height: $swapHeight / 2;
        }
    }
}